{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_main_content %}
    {% block page_checkout_confirm %}
        {% block page_checkout_confirm_header %}
            {% if isInquiry %}
                <h1 class="confirm-main-header">
                    {{ "inquiry.confirmHeader"|trans|sw_sanitize }}
                </h1>
            {% else %}
                <h1 class="confirm-main-header">
                    {{ "checkout.confirmHeader"|trans|sw_sanitize }}
                </h1>
            {% endif %}
        {% endblock %}

        {% block page_checkout_confirm_alerts %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_tos %}
            {{ parent() }}
        {% endblock %}

        {% if isInquiry %}
            {% block page_checkout_inquiry_upload_file %}
                <div class="confirm-inquiry-upload-file">
                    <div class="card checkout-card">
                        <div class="card-body">
                            {% block page_checkout_inquiry_upload_file_header %}
                                <div class="card-title">
                                    {{ "inquiry.inquiryUploadFileHeader"|trans|sw_sanitize }}
                                </div>
                            {% endblock %}

                            {% block page_checkout_inquiry_upload_file_control %}
                                <div class="form-input">
                                    <label>
                                        <input type="file"
                                               id="inquiryUploadFile"
                                               form="confirmOrderForm"
                                               name="inquiryUploadFile[]"
                                               multiple="multiple"
                                               {% if allowedMimeTypes %}accept="{{ allowedMimeTypes }}"{% endif %}
                                        />
                                    </label>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endif %}

        {% block page_checkout_confirm_address %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_payment_shipping %}
            {% if isInquiry %}
                <div class="confirm-payment-shipping">
                    <div class="row">
                        {% block page_checkout_confirm_shipping %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                </div>
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

        {% block page_checkout_confirm_product_table %}
            {% if isInquiry %}
                <div class="confirm-product">
                    {% block page_checkout_confirm_table_container %}
                        <div class="card">
                            <div class="card-body">
                                {% block page_checkout_confirm_table_header %}
                                    {% sw_include '@Storefront/storefront/component/checkout/cart-header.html.twig' with {
                                        showTaxPrice: true
                                    } %}
                                {% endblock %}

                                {% block page_checkout_confirm_table_items %}
                                    {% for lineItem in page.cart.lineItems %}
                                        {% block page_checkout_confirm_table_item %}
                                            {% sw_include '@Storefront/storefront/component/line-item/line-item.html.twig' with {
                                                redirectTo: 'frontend.inquiry.confirm.page',
                                                showTaxPrice: true
                                            } %}
                                        {% endblock %}
                                    {% endfor %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endblock %}

        {% block page_checkout_confirm_hidden_line_items_information %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block page_checkout_aside_actions %}
    {% if isInquiry %}
        <div class="checkout-aside-action">
            <form id="confirmOrderForm"
                  action="{{ path('frontend.inquiry.save') }}"
                  data-form-preserver="true"
                  data-form-submit-loader="true"
                  data-form-add-history="true"
                  data-form-add-history-options='{{ formAddHistoryOptions|json_encode }}'
                {% if feature('v6.5.0.0') or getAllFeatures()['v6.6.0.0'] is defined %}
                {% else %}
                    data-form-csrf-handler="true"
                {% endif %}
                  method="post"
                  enctype="multipart/form-data">

                {% if feature('v6.5.0.0') or getAllFeatures()['v6.6.0.0'] is not defined %}
                    {# @deprecated tag:v6.5.0 - Block page_checkout_aside_actions_csrf will be removed. #}
                    {% block page_checkout_aside_actions_csrf %}
                        {% if isInquiry %}
                            {{ sw_csrf('frontend.inquiry.save') }}
                        {% else %}
                            {{ parent() }}
                        {% endif %}
                    {% endblock %}
                {% endif %}

                {% block page_checkout_confirm_form_submit %}
                    {% if isInquiry %}
                        {% if feature('v6.5.0.0') or getAllFeatures()['v6.6.0.0'] is defined %}
                            <div class="d-grid">
                                <button id="confirmFormSubmit"
                                        class="btn btn-primary btn-lg"
                                        form="confirmOrderForm"
                                    {% if page.cart.errors.blockResubmit %}
                                        disabled
                                    {% endif %}
                                        type="submit">
                                    {{ "inquiry.confirmSubmit"|trans|sw_sanitize }}
                                </button>
                            </div>
                        {% else %}
                            <button id="confirmFormSubmit"
                                    class="btn btn-primary btn-block btn-lg"
                                    form="confirmOrderForm"
                                {% if page.cart.errors.blockOrder %}
                                    disabled
                                {% endif %}
                                    type="submit">
                                {{ "inquiry.confirmSubmit"|trans|sw_sanitize }}
                            </button>
                        {% endif %}
                    {% else %}
                        {{ parent() }}
                    {% endif %}
                {% endblock %}
            </form>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
