{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions %}
    <div class="offcanvas-cart-actions">
        {% block component_offcanvas_cart_actions_promotion %}
            {{ parent() }}
        {% endblock %}

        {% block component_offcanvas_cart_actions_checkout %}
            {{ parent() }}
        {% endblock %}

        {% block component_offcanvas_cart_actions_cart %}
            {{ parent() }}
        {% endblock %}

        {% block component_offcanvas_cart_actions_inquiry %}
            {% if feature('v6.5.0.0') or getAllFeatures()['v6.6.0.0'] is defined %}
                <div class="d-grid">
                    <a href="{{ path('frontend.inquiry.register.page') }}"
                       class="btn btn-link"
                       title="{{ "inquiry.proceedToCart"|trans|striptags }}">
                        {{ "inquiry.proceedToCart"|trans|sw_sanitize }}
                    </a>
                </div>
            {% else %}
                <a href="{{ path('frontend.inquiry.register.page') }}"
                   class="btn btn-block btn-link"
                   title="{{ "inquiry.proceedToCart"|trans|striptags }}">
                    {{ "inquiry.proceedToCart"|trans|sw_sanitize }}
                </a>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
