{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions_checkout %}
    {% if page.cart.extensions.inquiry.status %}
        {% block component_offcanvas_cart_actions_inquiry %}
            <div class="d-grid">
                <a href="{{ path('frontend.inquiry.register.page') }}"
                   class="btn begin-checkout-btn{% if isCartNotEmpty %} btn-primary{% else %} btn-light disabled{% endif %} requestoffcan"
                   title="{{ "inquiry.proceedToCart"|trans|striptags }}">
                    {{ "inquiry.proceedToCart"|trans|striptags }}
                </a>
            </div>
        {% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_offcanvas_cart_actions_cart %}
    {% if page.cart.extensions.inquiry.status %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
