{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_aside_actions %}
    {% if isInquiry %}
        <div class="checkout-aside-action">
            {% block page_checkout_cart_add_promotion %}
                <form action="{{ path('frontend.checkout.promotion.add') }}"
                      class="cart-add-promotion"
                      data-form-csrf-handler="true"
                      method="post">

                    {# @deprecated tag:v6.5.0 - Block page_checkout_cart_add_promotion_csrf will be removed. #}
{#                    {% block page_checkout_cart_add_promotion_csrf %}#}
{#                        {{ sw_csrf('frontend.checkout.promotion.add') }}#}
{#                    {% endblock %}#}

                    {% block page_checkout_cart_add_promotion_forward %}
                        <input type="hidden"
                               name="redirectTo"
                               value="frontend.inquiry.register.page">
                    {% endblock %}

                    {% block page_checkout_cart_add_promotion_input_group %}
                        <div class="input-group checkout-aside-add-code">
                            {% block page_checkout_cart_add_promotion_label %}
                                <label class="{{ visuallyHiddenClass }}" for="addPromotionInput">
                                    {{ "checkout.addPromotionLabel"|trans|sw_sanitize }}
                                </label>
                            {% endblock %}

                            {% block page_checkout_cart_add_promotion_input %}
                                <input type="text"
                                       name="code"
                                       class="form-control"
                                       id="addPromotionInput"
                                       placeholder="{{ "checkout.addPromotionPlaceholder"|trans|striptags }}"
                                       aria-label="{{ "checkout.addPromotionLabel"|trans|striptags }}"
                                       aria-describedby="addPromotion"
                                       required="required">
                            {% endblock %}

                            {% block page_checkout_cart_add_promotion_submit %}
                                {# @deprecated tag:v6.5.0 - Bootstrap v5 removes `input-group-append` wrapper and uses elements as direct childs of `input-group` #}
                                {% if feature('v6.5.0.0') %}
                                    <button class="btn btn-secondary"
                                            type="submit"
                                            id="addPromotion">
                                        {% sw_icon 'checkmark' %}
                                    </button>
                                {% else %}
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary"
                                                type="submit"
                                                id="addPromotion">
                                            {% sw_icon 'checkmark' %}
                                        </button>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

